body {
  background-color: rgb(24, 21, 47);
  margin: 0;
  overflow: hidden;
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
  color: white;
  transition: all 0.3s ease;
}
main.container {
  width: 100vw;
  height: 100vh;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 21, 47);
}
section.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button, select, input {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
}
button:hover {
  background-color: #555;
}
